* {
	box-sizing: border-box;
}
body {
	margin-top: 70px;
}
#header-nav{
	border: 0px;
	border-radius: 0px;
}
.menu h1{
	text-align: center;
	text-transform: uppercase;
	color: #777;
}
.section {
	background-color: #ddd;
	padding: 10px;
	border: solid black 1px;
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
}
.section h2{
	text-align: center;
	color: #777;
}
footer{
	height: 50px;
	border-top: solid #e7e7e7;
	background-color: #f8f8f8;
}
footer p{
	text-align: center;
	padding-top: 15px;
}